$this: ".alert-table";

#{$this} {
	width: 80%;
	margin: 20px auto;
	text-align: center;
	
	&_title {
		color: #fff;
		text-transform: uppercase;
		text-align: center;
	}
	&_tb {
		align-content: center;
		border-radius: 18px;
	}
	&_not {
		color: azure;
		font-size: 24px;
	}
}
